#analyticContainer{
    height: 500px;
}

@media only screen and (max-width: 600px) {
    
    #analyticContainer{
        height: 500px;

    }

     #bar1{
        height: 30rem!important;
        width: 100%!important;
    }

}